/* ChoiceScreen.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
  }
  
  .text {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .buttonsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button {
    background-color: #007BFF;
    padding: 15px;
    margin: 5px 0;
    border-radius: 25px; /* Rounded corners */
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center; /* Center-align text horizontally */
    border: none;
    cursor: pointer;
  }
  
  .buttonText {
    color: white;
    font-size: 20px;
  }
  